*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    font-size: large;
    
}
header{
    background-color: #32CD32;
}
.logo{
    width: 100%;
    border-radius: 0px;
    background-color: rgb(134, 211, 211);
    justify-items: flex-start;
    cursor: pointer;
    margin-top: 20px;
    color: blue;
}


@keyframes log{
    from{background-color: #fff;}
    to{background-color: rgb(134, 211, 211);}
}
.fs-4{
    background-color: #fff;
    animation-name: logo;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
.logo img{
    width: 400px;
    border: 5px solid ble;
    position: relative;
    left: 40%;
    cursor: pointer;
}


.right-bar {
    margin-right: 20px;
    width: 700px;
    height: auto;
    border: solid px blue;
    
}
.mb-1{
    
}
.main-bar{
    display: flex;
    direction: rtl;
}
.left-bar{
    margin-left: 20px;
    width: 700px;
    height: auto;
    border: solid px blue;
}
.lessons{
   background-color: lightblue;

}

 li audio{
    background-color: red;
}




@media (max-width: 600px) {
    .logo, img{
        background-color: rb(134, 211, 211);
        width: 600px auto;
    }
    ul, li audio{
        width: 110%;
        
    }
}

@media (max-width: 600px) {
    header ul li{
        background-color: re;
        display: block;
        width: 5%px;
        height: 5%px;
    }     
    .main-bar{
        margin-left: 3px;
    }
    .right-bar{
        display: none;
    }
    .left-bar{
        display: none;
    }
    
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    direction: rtl;
}

h1, h2 {
    text-align: center;
}


/* تنسيق الدروس */
.lesson-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #82e282;
}

#lessons{
    display: flex;
    
   
    
}

.lesson {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    background-color: #efe9e9;
    padding: 20px;
    border-radius: 8px;
   
}

.lesson h3 {
    color: #2c3e50;
}

.lesson a {
    display: inline-block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
}

.lesson a:hover {
    text-decoration: none;
    
}

/* تنسيق العلماء */
.scholar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.scholar {
    width: 45%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.scholar h3 {
    color: #2c3e50;
}

#contact {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.sheick-name{
    font-family: 'Courier New', Courier, monospace;
    color: #111;
    font-style: normal;
}

footer{
    background-color: #82e282;
}